body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    background: #fff;
}

.container.off {
    background: #333;
}

.block {
    display: block;
    width: 270px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.btn {
    display: block;
    width: 100%;
    height: 40px;
    padding: 0;
    background: #333;
    border: none;
    border-radius: 4px;
    outline: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.container.off .btn {
    background: #fff;
    color: #333;
}

.date {
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
}

.container.off .date {
    color: #fff;
}