body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.find {
    background: rgba(255, 165, 0, 0.5);
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

.container {
    max-width: 300px;
    width: 100%;
    padding: 15px;
    border: 1px solid #333;
    border-radius: 10px;
    box-sizing: border-box;
}

h1 {
    margin: 0 0 30px;
    text-align: center;
}

.panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.panel input {
    display: block;
    max-width: 200px;
    width: 100%;
    height: 40px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #fff;
}

.panel button {
    display: block;
    max-width: 40px;
    width: 100%;
    height: 40px;
    padding: 0;
    border: none;
    border-radius: 5px;
    background: green;
    color: #fff;
}

ul {
    padding-left: 15px;
}

ul li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul li:not(:last-child) {
    margin-bottom: 10px;
}

ul li span {
    margin-right: auto;
}

ul li .remove{
    display: inline-block;
    margin-right: 5px;
    background: red;
    color: #fff;
    border: none;
    border-radius: 3px;
}

ul li .edit{
    background: grey;
    color: #fff;
    border: none;
    border-radius: 3px;
}

ul li .edit-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
}

ul li .edit-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    padding: 0;
    border: none;
    border-radius: 5px;
    background: green;
    color: #fff;
}

.search {
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid blue;
    border-radius: 5px;
    background: #fff;
}

.clean {
    display: block;
    width: 100%;
    height: 40px;
    padding: 0;
    background: orange;
    color: #fff;
    border: none;
    border-radius: 3px;
}

.edit-input, .edit-btn {
    display: none;
}

.edit-input.active, .edit-btn.active {
    display: inline-block;
}