body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.tab {
    display: flex;
    width: 200px;
    margin: 30px auto;
    border: 1px solid #555;
    border-radius: 10px;
}

.tab div {
    width: 50%;
    background: #fff;
    color: #333;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.tab div.active {
    background: #333;
    color: #fff;
}

h1 {
    margin: 0 0 30px;
    color: #333;
    font-size: 30px;
    line-height: 1;
    text-align: center;
}

.tab1, .tab2 {
    display: none;
    padding: 30px 15px;
}

.tab1.active, .tab2.active {
    display: block;
}

.tab1 form {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    padding: 30px;
    border: 2px solid #777;
    border-radius: 5px;
    box-sizing: border-box;
}

.tab1 form input{
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    border: 1px solid #999;
    border-radius: 4px;
    padding: 0 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.tab1 form .row {
    margin-bottom: 15px;
}

.tab1 form .btn {
    display: inline-block;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    background: #173a30;
    color: #fff;
    cursor: pointer;
}

.tab1 form .btn:not(:last-child) {
    margin-right: 10px;
}

@media screen and (max-width: 480px) {
    .tab1 form .btn {
        padding: 5px;
    }

    .tab1 form .btn:not(:last-child) {
        margin-right: 5px;
    }
}

.tab1 form .btn.active {
    background: #087959;
}

.tab1 form .submit {
    display: block;
    width: 100%;
    height: 40px;
    background: orange;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

.tab1 .result {
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.tab1 .last-result {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    text-align: left;
}

.tab1 .last-result td {
    border: 1px solid #333;
}

.tab2 form {
    max-width: 400px;
    width: 100%;
    margin: 0 auto 15px;
    padding: 30px;
    border: 2px solid #777;
    border-radius: 5px;
    box-sizing: border-box;
}

.tab2 form label {
    display: block;
    margin-bottom: 15px;
}

.tab2 form label:last-child{
    margin: 0;
}

.tab2 form select {
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    border: 1px solid #555;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
}

.tab2 form .error {
    margin-top: 15px;
    color: red;
}

.tab2 .table {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    border: 2px solid #777;
    box-sizing: border-box;
}

.tab2 table {
    width: 100%;
    text-align: left;
}

.tab2 table td {
    border: 1px solid #555;
    padding: 5px;
}

.tab2 .sort {
    display: none;
    margin: 10px;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    background: #15916d;
    color: #fff;
    font-size: 16px;
    line-height: 1;
}

.tab2 .sort.active {
    display: inline-block;
}